.component {
  border-radius: var(--radius-flame);
  border: solid 1px var(--color-frame);
  padding: 0.5rem 1rem;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.5rem;

  .label {
  }

  .text {
    font-size: var(--font-small);
  }
}

.selected {
  border: solid 3px var(--color-frame-focus);
  padding: calc(0.5rem - 2px) calc(1rem - 2px);
}
