.component {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  .radios {
  }

  .text {
    display: flex;
    flex-direction: row;
    column-gap: 0.5rem;
    align-items: center;
    margin: 0;
  }
}
