.component {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 0.5rem;
}

.header {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
  align-items: center;
}

.body {
  width: 100%;
  overflow-x: scroll;
  padding-bottom: 0.5rem;
}
.body::-webkit-scrollbar {
  height: 8px;
}
.body::-webkit-scrollbar-thumb {
  border-radius: 8px;
}
.body::-webkit-scrollbar-thumb {
  --bg-opacity: 1;
  background-color: lightslategray;
}

.label {
  font-size: 1.5rem;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  border: solid 1px var(--color-frame);
  border-radius: var(--radius-flame);
  text-align: center;
  table-layout: fixed;
  font-family: 'Cica', Consolas, monospace;

  tr {
    height: 2rem;

    th {
      border-right: solid 1px var(--color-frame);
      padding: 0 16px;
      position: relative;
      white-space: nowrap;
      font-weight: normal;
    }

    th:last-child {
      border-right: none;
    }

    td {
      border-right: solid 1px var(--color-frame);
      border-top: solid 1px var(--color-frame);
      padding: 0 16px;
      height: 2rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 0;
    }

    td:last-child {
      border-right: none;
    }
  }

  tr:last-child td:last-child {
    border-bottom-right-radius: calc(#{var(--radius-flame)} - 1px);
  }

  tr:last-child .primaryOnly:last-child {
    border-bottom-left-radius: calc(#{var(--radius-flame)} - 1px);
    border-bottom-right-radius: calc(#{var(--radius-flame)} - 1px);
  }
}
