@font-face {
  font-family: 'Cica';
  src: url(./fonts/Cica-Regular.ttf);
}

:root {
  --color-frame: gray;
  --color-frame-focus: #57f;
  --color-frame-error: #f00;

  --color-diff-stay: white;
  --color-diff-added: #cfc;
  --color-diff-deleted: #fcc;
  --color-diff-none: #ddd;

  --font-small: 0.75rem;

  --radius-input: 5px;
  --radius-flame: 5px;
  --radius-element: 8px;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
